@{
    Artist currentArtist = Model;
    ViewBag.Title = currentArtist.Name;
}

<div class="content">
    <h1 class="page-title">@currentArtist.Name</h1>
    @if (currentArtist.Avatar != null)
    {
        <img class="ArtistAvatar" src="@ImageHelper.GetImageUrl(currentArtist.Avatar)" />
        <br class="clear" />
    }
    <p>@currentArtist.Description</p>
</div>
