@{
    ViewBag.Title = "Artiesten";
    List<Artist> artistList = Model; 
}

<div class="content partial-size">
    <h1 class="page-title">Artiesten</h1>
    @foreach (var artist in artistList)
    {
        <div class="col-xs-3">
            @Html.ActionLink(artist.Name, "Artist", new {Id = artist.Id})
        </div>
    }
</div>