@{
    ViewBag.Title = "Artiesten";
    List<Artist> artistList = Model; 
}

<div class="content">
    <img class="content-pin-left" src="~/Images/Pin Left.png" />
    <img class="content-pin-right" src="~/Images/Pin Right.png" />
    <h1 class="page-title">Artiesten</h1>
        @foreach (var artist in artistList)
        {
            <h3>@Html.ActionLink(artist.Name, "Artists", new { Id = artist.Id })</h3>
        }
</div>