
@{
    ViewBag.Title = "Artiesten";
    List<Artist> artistList = ViewBag.ArtistsList; 
}

<h1 class="head-h1">Artiesten</h1>
<div class="row">
    @foreach (Artist artist in artistList)
    {
        <div class="col-xs-3">
            @Html.ActionLink(artist.Name, "Artiesten", new { Id = artist.Id })
        </div>
    }
</div>

