
@{
    ViewBag.Title = "Genres";
    
}

<h1 class="head-h1">Genres</h1>
<ul>
    @foreach (Genre genre in ViewBag.GenresList)
    {
        <li>@Html.ActionLink(genre.Name, "Genres", new{id = genre.Id})</li>
    }
</ul>