@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="Button col-xs-6 col-sm-4 col-md-3">
            <div class="index-carousel">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <img src="../Images/sample.jpg">
                            <p class="ButtonTitle">Under Construction 1</p>
                        </div>

                        <div class="item">
                            <img src="../Images/sample.jpg">
                            <p class="ButtonTitle">Under Construction 2</p>
                        </div>

                        <div class="item">
                            <img src="../Images/sample.jpg">
                            <p class="ButtonTitle">Under Construction 3</p>
                        </div>

                        <div class="item">
                            <img src="../Images/sample.jpg">
                            <p class="ButtonTitle">Under Construction 4</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        @foreach (ButtonItem item in ViewBag.ButtonItems)
        {
    <div class="Button col-xs-6 col-sm-4 col-md-3">
        <a href="@LinkHelper.GetUrl(item.Target)">
            <img class="ButtonImg" src="@ImageHelper.GetImageUrl(item.Logo)">
                    <p class="ButtonTitle">@item.DisplayName</p>
                </a>
        <img class="ButtonBackground" src="../Images/Designconcept/polaroid.png">
            </div>
        }


    