@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="Button col-xs-6 col-sm-4 col-md-3">
        <div class="index-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="#">
                            <img class="CarouselImg" src="../Images/sample.jpg">
                            <p class="CarouselTitle">Under Construction 1</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img class="CarouselImg" src="../Images/sample.jpg">
                            <p class="CarouselTitle">Under Construction 2</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img class="CarouselImg" src="../Images/sample.jpg">
                            <p class="CarouselTitle">Under Construction 3</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img class="CarouselImg" src="../Images/sample.jpg">
                            <p class="CarouselTitle">Under Construction 4</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img class="ButtonBackground" src="../Images/Designconcept/polaroid.png">
    </div>

@foreach (ButtonItem item in ViewBag.ButtonItems)
{
    <div class="Button col-xs-6 col-sm-4 col-md-3">
        <a href="@LinkHelper.GetUrl(item.Target)">
            <img class="ButtonImg" src="@ImageHelper.GetImageUrl(item.Logo)">
            <p class="ButtonTitle">@item.DisplayName</p>
        </a>
        <img class="ButtonBackground" src="../Images/Designconcept/polaroid.png">
    </div>
}
</div>