@using Bigrivers.Client.WebApplication.Helpers
@{
    ViewBag.Title = "Home Page";
}
@foreach (ButtonItem item in ViewBag.ButtonItems)
{
    <div class="Button">
        <a class="ButtonLink" href="@item.URL">
            <div class="ButtonDiv">
                <img src="@ImageHelpers.GetImageUrl(item.Logo)" class="ButtonImg" />
                <p class="ButtonTitle">@item.DisplayName</p>
            </div>
        </a>
    </div>
}