@{
    ViewBag.Title = "Home Page";
}
@foreach (Event item in ViewBag.EventList)
{
    <div class="Button">
        <a class="ButtonLink" href="/Home/Events/@item.Id">
            <div class="ButtonDiv">
                <img src="@item.FrontpageLogo" class="ButtonImg" />
                <p class="ButtonTitle">@item.Title</p>
            </div>
        </a>
    </div>
}