@{
    NewsItem currentNewsItem = ViewBag.CurrentNews;

    ViewBag.Title = currentNewsItem;
}
<div class="news-item-content-page">
    <h2>@currentNewsItem.Title</h2>
    <p>@currentNewsItem.Content</p>
</div>

