@{
    NewsItem newsItem = Model;

    ViewBag.Title = newsItem.Title;
}
<div class="content news-detail">
    <div class="news-item">
        <div class="news-title">
            <h3>@newsItem.Title</h3>
            <h5>@newsItem.Publish.DateTime.ToString("dd-MM-yyyy")</h5>
        </div>
        @if (newsItem.Image != null)
        {
            <div class="news-image">
                <img class="news-item" src="@ImageHelper.GetImageUrl(newsItem.Image)"/>
            </div>
        }
        <div class="news-text">
            @Html.Raw(newsItem.Content)
        </div>
    </div>
    <br class="clear"/>
</div>