@{
    ViewBag.Title = "Nieuws";
}

<div class="news-page">
    <h1 class="head-h1">Nieuws</h1>
    
        @foreach (NewsItem p in ViewBag.NewsItemsList)
        {
            <div class="news-image">
                <div>
                    @Html.ActionLink(p.Title, "News", new { Id = p.Id })
                    <br class="news-item-br"/>
                    <p class="news-item-content">@p.Content <span class="lees-verder-span"><a class="lees-verder-a" href="/Home/news/@p.Id">>lees verder</a></span></p>
                    <br class="news-item-br"/>
                </div>
            </div>
        }
    
</div>