@{
    ViewBag.Title = "Optredens";
}
<h1>Optredens</h1>
<ul>
    @foreach (Performance p in ViewBag.PerformancesList)
    {
        <li>
            @Html.ActionLink(p.Description, "Optredens", new { Id = p.Id })
        </li>
    }
</ul>