@using Bigrivers.Client.WebApplication.Models
@{
    ViewBag.Title = "Programma";
    List<PerformancesByLocationViewModel> eventDates = Model;
}

<div class="content partial-size">
    <h1 class="page-title">Optredens</h1>
    
    

    
</div>