@using Bigrivers.Client.WebApplication.Models
@{
    ViewBag.Title = "Programma";
    List<NewsItem> newsItemsList = ViewBag.NewsItemsList;
    List<PerformanceListViewModel> eventDates = Model;
}

<div class="content partial-size">
    <h1 class="page-title">Optredens</h1>
    
    

    
</div>

@Html.Partial("_NewsArchive", newsItemsList)

<script src="/Scripts/performanceDaySelector.js"></script>