@{
    ViewBag.Title = "Optredens";
}

<div class="content partial-size">
    <h1 class="page-title">Optredens</h1>
    <ul>
        @foreach (Performance p in Model)
        {
            <li>
                @Html.ActionLink(p.Description, "Performance", new {Id = p.Id})
            </li>
        }
    </ul>
</div>