@font-face {
    font-family: 'mari&david';
    src: url('/fonts/maridavid.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('/fonts/maridavid.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    padding-top: 50px;
    background-image: url(http://az774063.vo.msecnd.net/files/browntexture.jpg);
    background-size: cover;
}

.clear {
    clear:both;
}

/* Content block for line-paper-background content */
.content {
    background-image:  url(http://az774063.vo.msecnd.net/files/bg.png);
    display: inline-block;
    margin-bottom: 40px;
    padding: 20px;
    padding-left: 80px;
    height: 100%;
    width: 100%;
}

.content.partial-size {
    margin-right: 0;
    width: 75%;
}

.content.partial-size-sidebar {
    float: right;
    width: 20%;
}

h1.page-title {
    font-family: "mari&david";
    color: #000000;
}

h3.page-title {
    font-family: "mari&david";
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.menuimg{
    width: 100px;
    height: 75px;
    margin-left: 15px;
}

/* Styling for the News Archive */
div.news-archive div.news-item {
    height: auto;
}

div.news-archive h3 {
    line-height: 1.5em;
    margin-left: 15px;
}

div.news-archive p {
    margin: 0 auto;
}

div.news-archive p a {
    text-decoration: underline;
}

.header {
    background-image: url(http://az774063.vo.msecnd.net/files/header.png);
    background-repeat: no-repeat;
    height: 194px;
    width: auto;
    position: relative;
    margin-top: -50px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -10px;
}

.header-coaster {
    background-image: url(http://az774063.vo.msecnd.net/files/coaster.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -80px;
    left: -10px;
    height: 300px;
    width: 300px;
    z-index: 1200;
    text-align: center;
}

.header-logo {
    width: 200px;
    max-height: 200px;
    display: inline-block;
    vertical-align: middle;
}

.header-date-div {
    position: absolute;
    left: 75px;
    top: 205px;
    color: white;
    text-align: center;
    width: 160px;
}

.header-date {
    font-family: "mari&david";
    font-size: 25pt;
}

.header-items {
    margin-left: auto;
    margin-right: auto;
    width: 510px;
    margin-top: -60px;
}

.header-beer {
    float: left;
    height: 150px;
    width: 150px;
    margin-top: 35px;
    margin-left: 160px;
}

.header-peanuts {
    float: left;
    height: 180px;
    width: 180px;
}

.header-buttons {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
    margin-right: 20px;
    margin-top: 18px;
}

.header-yt{
    width: 60px;
    height: 60px;
    float: left;
}

.header-fb {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 15px;
}

.header-tw {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: -10px;
}


@media(min-width: 768px){
    .navbar {
        background-color: transparent;
        background-image: url(http://az774063.vo.msecnd.net/files/ductape.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: none;
        min-height: 120px;
    }

    .navbar-nav {
        margin-top: 20px;
        margin-left: 20px;
    }

    .menuitem-link {
        color: black !important;
        margin-bottom: -20px;
        margin-top: 5px;
        font-family: "mari&david";
        font-size: 36px;
    }

    .dropdown-toggle {
        background-color: transparent !important;
    }

    .dropdown-menu {
        margin-top: 15px !important;
    }

    .dropdown-menuitem {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .dropdown-menuitem-link {
        color: black !important;
        margin-top: 5px;
        font-family: "mari&david";
        font-size: 36px;
    }
}

.menuitem-link {
    position: relative;
}

@media(min-width: 768px ) {
    .menuimg {
        height: 50px;
        width: auto;
        margin-left: 0;
    }

    table.table {
        color: black;
    }

    .head-h1 {
        color: black;
    }
}

.beads-left {
    position: absolute;
    float: left;
    margin-top: -50px;
    z-index: -1;
}

/* Frontpage Buttons*/
/* sm-md size screen*/
@media (min-width: 768px) {
    .ButtonTitle, .CarouselTitle {
        font-family: "mari&david";
        font-size: 15pt;
    }

    .ButtonImg{ 
        position: absolute;
        top: 10%;
        left: 16.8%;
        width: 66.6%;
        height: 63%;
    }

    .carousel-inner{
        position: absolute;
        top: 10%;
        left: 11%;
        width: 69.1%;
        height: 85%;
    }
}

/* xs size screens*/
@media (max-width: 400px) {
    .ButtonTitle, .CarouselTitle {
        font-size: 6pt;
    }

    .ButtonImg {
        position: absolute;
        top: 10.3%;
        left: 20.7%;
        width: 59%;
        height: 63%;
    }

    .carousel-inner{
        position: absolute;
        top: 10%;
        left: 10.5%;
        width: 59%;
        height: 85%;
    }
}

/* xxs size screens*/
@media (max-width: 768px) and (min-width: 401px) {
    .ButtonTitle, .CarouselTitle {
        font-size: 12pt;
    }

    .ButtonImg {
        position: absolute;
        top: 10.1%;
        left: 15.5%;
        width: 68.7%;
        height: 63%;
    }

    .carousel-inner{
        position: absolute;
        top: 10%;
        left: 11.5%;
        width: 68.7%;
        height: 85%;
    }
}

.Button {
    margin-bottom: 15px;
}

.Button:hover {
    text-decoration: none;
}

.ButtonBackground {
    width: 100%;
    height: auto;
}

.ButtonTitle {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
    color: black;
    text-align: center;
}

.index-carousel, .carousel, .item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.CarouselImg {
    position: absolute;
    height: 74% !important;
    width: 100%;
}

.CarouselTitle {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
    color: black;
    text-align: center;
}

/* Footer*/
.footer-content{
    background-image: url(http://az774063.vo.msecnd.net/files/footer.png);
    opacity: 0.8;
    height: 3em;
    color: white;
}

.footer-content div {
    opacity: 1;
    height: 100%;
}

.pseudo-align{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.footer-content div .footer-text span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}


/* Styling for the news overview */
div.news-overview div.news-item,
div.news-detail div.news-item {
    height: auto;
}

div.news-overview div.news-title h3,
div.news-detail div.news-title h3
 {
    margin: 0 auto;
}

div.news-overview div.news-title h5,
div.news-detail div.news-title h5 {
    margin-top: 0;
}

div.news-overview div.news-text,
div.news-detail div.news-text {
    width: 75%;
    margin-bottom: 5px;
    padding-right: 10px;
    line-height: 1em;
}

div.news-overview div.news-text.height-limited,
div.news-detail div.news-text.height-limited {
    height: 9em;
    overflow: hidden;
}

div.news-overview div.news-image,
div.news-detail div.news-image {
    width: 25%;
    float: right;
}

div.news-overview div.news-image img,
div.news-detail div.news-image img {
    height: 11em;
    max-width: 100%;
}

div.news-overview div.news-footer,
div.news-detail div.news-footer {
    width: 90px;
    float: left;
    margin-left: calc(75% - 90px);
}

div.news-overview div.news-footer span,
div.news-detail div.news-footer span {
    text-decoration: underline;
}

/* styling for the schedule / performance overview */
.day-btn-list {
    margin-bottom: 30px;
    height: auto;
}

.day-btn {
    font-family: "mari&david";
    display: inline-block;
    margin-right: 10px;
    margin: 0 15px 0 0;
}

.day-btn.non-selected {
    font-size: 1.5em;
}

.day-btn.selected {
    font-weight: bold;
    text-decoration: underline;
}

.day-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.daytable.non-selected {
    display: none;
}

.daytable {
    width: 40%;
}

.daytable tr th {
    font-family: "mari&david";
    font-weight: normal;
    font-size: 1.7em;
}

/* Contact page styling */
address{
    color: #000000;
}

.social li {
    display:inline;
}
.social li a img {
    height: 30px;
    width: 30px;
}

#location-canvas{
    padding-top: 200px;
    margin-bottom: 1em;
}

.twitterfeed{
    width: 100%;
    max-width: 80%;
}

/* Artiesten*/

.ArtistsDiv {
    height: 100px;
    margin-bottom: 15px;
}

.ArtistsName {
    float: left;
}

.ArtistsAvatar {
    height: 100px;
    width: auto;
    float: right;
}

.ArtistAvatar {
    height: 100px;
    width: auto;
    float: left;
    margin-right: 10px;
}

/* Evenementen */

.EventsDescription {
    max-height: 100px;
    overflow: hidden;
}

.EventsDatum {
    width: 100px;
}

.EventsPrice {
    width: 100px;
}

/* Content Pages*/

.page-iframe {
    width: 100%;
}