body {
    padding-top: 50px;
    background-image: url(/Images/Designconcept/browntexture.jpg);
    background-size: 100%;
}

.clear {
    clear:both;
}

/* Content block for line-paper-background content */
.content{
    background-image:  url(/Images/Designconcept/bg.png);
    display: inline-block;
    margin-bottom: 40px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.content.partial-size {
    margin-right: 0;
    width: 75%;
}

.content.partial-size-sidebar {
    float: right;
    width: 20%;
}

h1.page-title {
    color: #000000;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.menuimg{
    width: 100px;
    height: 75px;
    margin-left: 15px;
}

/* Styling for the News Archive */
div.news-archive div.news-item {
    height: auto;
}

div.news-archive h3 {
    line-height: 1.5em;
    margin-left: 15px;
}

div.news-archive p {
    margin: 0 auto;
}

div.news-archive p a {
    text-decoration: underline;
}

.header {
        margin-top: -50px;
        width: 100%;
        overflow: hidden;
    }

@media(min-width: 768px ) {
    .menuimg {
        height: 50px;
        width: auto;
        margin-left: 0;
    }

    table.table {
        color: black;
    }

    .head-h1 {
        color: black;
    }
}
/* Frontpage Buttons*/
/* sm-md size screen*/
@media (min-width: 768px) {
    .ButtonTitle, .CarouselTitle {
        font-size: 12pt;
    }

    .ButtonImg{ 
        position: absolute;
        top: 10%;
        left: 16.8%;
        width: 66.6%;
        height: 63%;
    }

    .carousel-inner{
        position: absolute;
        top: 10%;
        left: 11%;
        width: 69.1%;
        height: 85%;
    }
}

/* xs size screens*/
@media (max-width: 768px) {
    .ButtonTitle, .CarouselTitle {
        font-size: 6pt;
    }

    .ButtonImg {
        position: absolute;
        top: 10.3%;
        left: 20.7%;
        width: 59%;
        height: 63%;
    }

    .carousel-inner{
        position: absolute;
        top: 10%;
        left: 10.5%;
        width: 59%;
        height: 85%;
    }
}

.Button {
    margin-bottom: 15px;
}

.Button:hover {
    text-decoration: none;
}

.ButtonBackground {
    width: 100%;
    height: auto;
}

.ButtonTitle {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
    color: black;
    text-align: center;
}

.index-carousel, .carousel, .item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.CarouselImg {
    position: absolute;
    height: 74% !important;
    width: 100%;
}

.CarouselTitle {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
    color: black;
    text-align: center;
}

/* Footer*/
.footer-content{
    background-image: url(/Images/Designconcept/footer.png);
    opacity: 0.8;
    height: 3em;
    color: white;
}

.footer-content div {
    opacity: 1;
    height: 100%;
}

.pseudo-align{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.footer-content div .footer-text span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}


/* Styling for the news overview */
div.news-overview div.news-item,
div.news-detail div.news-item {
    height: auto;
}

div.news-overview div.news-title h3,
div.news-detail div.news-title h3
 {
    margin: 0 auto;
}

div.news-overview div.news-title h5,
div.news-detail div.news-title h5 {
    margin-top: 0;
}

div.news-overview div.news-text,
div.news-detail div.news-text {
    width: 75%;
    margin-bottom: 5px;
    padding-right: 10px;
    line-height: 1em;
}

div.news-overview div.news-text.height-limited,
div.news-detail div.news-text.height-limited {
    height: 9em;
    overflow: hidden;
}

div.news-overview div.news-image,
div.news-detail div.news-image {
    width: 25%;
    float: right;
}

div.news-overview div.news-image img,
div.news-detail div.news-image img {
    height: 11em;
    max-width: 100%;
}

div.news-overview div.news-footer,
div.news-detail div.news-footer {
    width: 90px;
    float: left;
    margin-left: calc(75% - 90px);
}

div.news-overview div.news-footer span,
div.news-detail div.news-footer span {
    text-decoration: underline;
}

/* styling for the schedule / performance overview */
.day-btn-list {
    margin-bottom: 30px;
}

.day-btn {
    display: inline-block;
    margin-right: 10px;
}

.day-btn.non-selected {
    font-size: 1.5em;
}

.day-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.day-table.non-selected {
    display: none;
}

.day-table {
    width: 100%;
}

.day-table th {
    font-size: 1.2em;
}

.day-table td {
    width: 25%;
}

/* Contact page styling */
address{
    color: #000000;
}

.social li {
    display:inline;
}
.social li a img {
    height: 30px;
    width: 30px;
}

#location-canvas{
    padding-top: 200px;
    margin-bottom: 1em;
}

.twitterfeed{
    width: 100%;
    max-width: 80%;
}

/* Artiesten*/

.ArtistsDiv {
    height: 100px;
    margin-bottom: 15px;
}

.ArtistsName {
    float: left;
}

.ArtistsAvatar {
    height: 100px;
    width: auto;
    float: right;
}

.ArtistAvatar {
    height: 100px;
    width: auto;
    float: left;
    margin-right: 10px;
}

/* Evenementen */

.EventsDescription {
    max-height: 100px;
    overflow: hidden;
}

.EventsDatum {
    width: 100px;
}

.EventsPrice {
    width: 100px;
}