#content div.form-div {
	background-color: #fff;
	padding-top:5px;
	min-width: 450px;
}

#content div.form-div form hr {
	margin: 0 16px 10px 16px;
	padding: 0;
	
}

#content div.form-div form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #3c3c3e;
}

#content div.form-div form .label-selectable {
	margin: auto 0;
	line-height: 35px;
	font-weight: normal;
}

#content div.form-div form fieldset {
	border: none;
	padding: 0 15px;
}

#content div.form-div form input, #content div.form-div form textarea, #content div.form-div form select {
	width: calc(100% - 22px);
	height: 35px;
	margin-bottom: 15px;
	padding: 5px 10px;
	border: 1px solid #c5c5c5;
}

#content div.form-div form select {
	width: 200px;
}

#content div.form-div form input[type="file"] {
	border: none;
	padding: 0;
	height: initial;
	width: initial;
}

#content div.form-div form input[type="checkbox"] {
	width: initial;
	margin: auto 0;
	margin-right: 5px;
	padding: 0;
	float: left;
}

#content div.form-div form input[type=submit] {
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: #5b83dd;
	border: none;
}

#content div.form-div form textarea {
	min-height: 300px;
}

/* File selecting system */
#content div.form-div form #file-select-button-bar {
	position: relative;
	height: 30px;
}

#content div.form-div form #file-select-button-bar .file-upload-button {
	float: left;
	height: 25px;
	margin-right: 10px;
}

#content div.form-div form #file-select-button-bar div.file-upload-button p {
	margin: 0;
	display: block;
	width: 200px;
	height: 25px;
	line-height: 25px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}

#content div.form-div form #file-select-button-bar div.selected p {
	background-color: #8dba42;
	color: #fff;
	cursor: default;
}

#content div.form-div form #file-select-button-bar div.non-selected p {
	background-color: #f1f1f1;
	color: #5b83dd;
	cursor: pointer;
}

#content div.form-div form #file-select-button-bar .file-upload-button p:hover {
	background-color: #8dba42;
	color: #fff;
}

#content div.form-div form #file-gallery {
	display: none;
	height: 29em;
	padding: 10px;
	background-color: rgb(60, 60, 62);
	background-color: rgba(0, 0, 0, 0.1);
	
}

#content div.form-div form #file-gallery div.file-gallery-item-container {
	float: left;
	width: 15%;
	margin: 0 1% 2em 0;
	padding: 2px;
	height: 180px;
	border: 1px solid #5b83dd;
}

#content div.form-div form #file-gallery div.selected {
	background-color: #8dba42;
	color: #fff;
	cursor: default;
}

#content div.form-div form #file-gallery div.non-selected {
	background-color: #f1f1f1;
	color: #5b83dd;
	cursor: pointer;
}

#content div.form-div form #file-gallery div.file-gallery-item-container:hover {
	background-color: #8dba42;
	color: #fff;
}

#content div.form-div form #file-gallery div.file-block {
	max-width: 100%;
	height: 150px;
	font-size: 0;
	margin-bottom: 3px;
}

div.pseudo-align {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}

#content div.form-div form #file-gallery div.file-gallery-item-container div.file-block div.file-container {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

#content div.form-div form #file-gallery div.file-gallery-item-container div.file-block div.file-container img {
	max-width: 100%;
	max-height: 150px;
	
}

#content div.form-div form #file-gallery div.file-gallery-item-container div.text-block {
	width: 100%;
	height: 25px;
	font-size: 1em;
}

#content div.form-div form #file-gallery div.file-gallery-item-container div.text-block div.text-container {
	width: 100%;
	height: 100%;
	text-align: center;
}

#content div.form-div form #file-gallery div.file-gallery-item-container div.text-block p {
	width: 100%;
	height: 100%;
	line-height: 25px;
	margin: 0;
}


/* Form Errors */

#content div.form-div form div.validation-summary-errors ul {
	list-style-type: none;
	margin-left: 10px;
	padding-left: 0;
	color: red;
}

#content div.form-div form fieldset .input-validation-error {
	border: 1px solid red;
}