#content div.form-div {
	background-color: #fff;
	padding-top:5px;
	min-width: 450px;
}

#content div.form-div form hr {
	margin: 0 16px 10px 16px;
	padding: 0;
	
}

#content div.form-div form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #3c3c3e;
}

#content div.form-div form .label-selectable {
	margin: auto 0;
	line-height: 35px;
	font-weight: normal;
}

#content div.form-div form fieldset {
	border: none;
	padding: 0 15px;
}

#content div.form-div form input, #content div.form-div form textarea, #content div.form-div form select {
	width: calc(100% - 22px);
	height: 35px;
	margin-bottom: 15px;
	padding: 5px 10px;
	border: 1px solid #c5c5c5;
}

#content div.form-div form select {
	width: 200px;
}

#content div.form-div form input[type="file"] {
	border: none;
}

#content div.form-div form input[type="checkbox"] {
	width: initial;
	margin: auto 0;
	margin-right: 5px;
	padding: 0;
	float: left;
}

#content div.form-div form input[type=submit] {
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: #5b83dd;
	border: none;
}

#content div.form-div form textarea {
	min-height: 300px;
}

#content div.form-div form fieldset .input-validation-error {
	border: 1px solid red;
}

/* Form Errors */

#content div.form-div form div.validation-summary-errors ul {
	list-style-type: none;
	margin-left: 10px;
	padding-left: 0;
	color: red;
}