/* Action Bar Styling */

#actionbar {
	position: relative;
	height: 80px;
}

#actionbar .action-block {
	float: left;
	margin-right: 5px;
}

#actionbar .action-block a {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	padding: 5px;
	background-color: #f1f1f1;
	text-align: center;
	text-decoration: none;
	color: #5b83dd;
}

#actionbar .action-block a:hover {
	background-color: #8dba42;
	color: #fff;
}

/* Table */

#content table {
	width: 100%;
	border-collapse: collapse;
	background-color: #f7f7f7;
}

#content table th {
	padding: 5px 5px;
	font-weight: normal;
	font-size: 1em;
	text-align: left;
	background-color: #858991;
	color: #fff;
	border: 1px solid #ccc;
}

#content table tr td {
	padding: 8px 5px;
	vertical-align: middle;
	color: #1d1e1b;
}

#content table tr.child td {
	padding-left: 50px;
	background-color: #ccc;
}

#content table tr.inactive td {
	background-color: #b9b9b9;
	color: #444;
}

#content table a {
	padding-right: 10px;
	color: #5b83dd;
	text-decoration: none;
}

#content table a:hover {
	text-decoration: underline;
}

/* Button styling */
#content div.buttonItemContainer {
	width: 100%;
}

#content div.buttonItemContainer div {
	float: left;
	background-color: white;
	height: 180px;
	width: 280px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#content div.buttonItemContainer div.inactive {
	background-color: #b9b9b9;
}

#content div.buttonItemContainer div h1 {
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
}

#content div.buttonItemContainer div h1 img {
	width: 100px;
	height: 100px;
}

#content div.buttonItemContainer div p {
	height: 20px;
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	font-size: 15pt;
	color: black;
	text-decoration: none;
	text-align: center;
}

#content div.buttonItemContainer div p a {
	text-decoration: none;
}