@{
    ViewBag.Title = "Create";
}

<div id="wrapper">
    <div class="page-title">
        <h1>Artiest toevoegen</h1>
    </div>
    <div id="content">
        <form method="POST" enctype="multipart/form-data">
            <h2>Artiest</h2>
            <label>Artiest naam (verplicht)</label>
            <input type="text" name="name" maxlength="255" placeholder="Vul hier de artiest naam in" value="Naam">
            <label>Artiest omschrijving / Biografie (verplicht)</label>
            <textarea name="description">Beschrijving</textarea>
            <script>
                // Replace the <textarea id="newscontent"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace("description");
            </script>
            <div class="imageUpload">
                <label>Artiest Thumbnail</label>
                <p>Upload een foto voor de artiest</p>
                <input type="file" name="pic">
            </div>
            <hr>
            <label>Youtube video van de artiest</label>
            <input type="url" name="youtube" placeholder="Vul hier de link in van de youtube video" value="Url">
            <hr>
            <div class="url">
                <label>Website van de artiest</label>
                <input type="url" name="url" placeholder="Vul hier in als de artiest ook een eigen website heeft" value="Url">
                <label>Youtube kanaal van de artiest</label>
                <input type="url" name="ytchannel" placeholder="Vul hier in als de artiest ook een youtube kanaal heeft" value="Url">
                <label>Facebook pagina van de artiest</label>
                <input type="url" name="facebook" placeholder="Vul hier in als de artiest ook een facebook pagina heeft" value="Url">
                <label>Twitter pagina van de artiest</label>
                <input type="url" name="twitter" placeholder="Vul hier in als de artiest ook een twitter pagina heeft" value="Url">
            </div>
            <div class="footer">
                <hr>
                <input type="submit" name="save" value="Artiest opslaan">
            </div>
        </form>
    </div>
</div>

