@using Bigrivers.Server.Model
@ViewBag.Title = "Details";
@{
    Artist artist = ViewBag.SingleArtist;
}
<div id="wrapper">
    <div class="page-title">
        <h1>Artiest toevoegen</h1>
    </div>

    <div id="content">
        <h2>Artiest</h2>
        <p>Naam:</p>
        <p>@artist.Name</p>
        <p>Beschrijving:</p>
        <p>@artist.Description</p>
        <div class="imageUpload">
            
        </div>
        <hr />
        <div class="url">
            
        </div>
        <div class="footer">
            <hr />
        </div>
    </div>
</div>